
body {
  background-image: url('backgroundImage.jpg');
  font-family: sans-serif;
  color:white;
  }
h1, h2, h3, ul, ol, p{
	text-align: center;  
}
ul, ol{
	vertical-align: top;
	font-size: 20px; 
	text-align: left; 
}


table {
  font-family: sans-serif;
  font-size: 16pt; 
  border: 1px solid black;
  width: 75%;
  height:25%;
  margin-left: 25%; 
}
td, th {
	text-align: center;
	padding: 8px;
	color: black; 
}
th{
background-color: seagreen; 
}
tr:nth-child(even){
	background-color: darkseagreen;  
}
tr:nth-child(odd) {
	background-color: snow;
}
img{

display: block;
justify-content:center; 
align-items: center;
border-radius: 50%; 
margin-left: auto; 
margin-right: auto; 
width:200px;
height: 200px; 
}
a:hover {
  background-color: springgreen;
}
* {
  box-sizing: border-box;
}


.top {
  padding: 5px;
  margin-left: 10cm; 
  text-align: center;
  background: rgba(60,179,113,.5);
  color: white;
}

.top h1 {
  font-size: 40px;
}
.list {
  overflow: hidden;
}

.list a {
  float: left;
  display: block;
  color: white;
  text-decoration: underline;
}


.list a.right {
  float: right;
  background-color: black; 
  padding: 14px 20px; 
}

.list a:hover {
  background-color: white;
  color: black;
}

.list1 {  
  display: flex;
  flex-wrap: wrap; 
   
}

.list2 {
  flex: 20%;
  background-color: rgba(100,100,100,0.4); 
  position: absolute; 
  width: 23%; 
  top:0;
}

.home {   
  flex: 70%;
  padding: 20px;   
}

.bottom {
  padding: 20px;
  text-align: center;

}
span{
	color:red;
	font-weight: bold; 
}

@media screen and (max-width: 700px) {
  .list1{   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .list a {
    float: none;
    width: 100%;
  }
}





